*{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 200px 400px 200px;
    grid-template-rows: 200px 200px 200px;
}

.content{
    border: 2px solid;
    background-color: skyblue;
}

.content5{
    text-align: justify;
    overflow: auto;
    padding: 10px;
    background-color: olive;
}

.content3{
    background-image: url(background-image: url("https://picsum.photos/id/1020/600/400"););
    
}
